<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    I have added the autowire here : "byName" we also have the com var in Alien and also in id.-->
    <bean id = "thisIstheID" class = "com.star.Alien" autowire="byName">


<!--        <constructor-arg name="age" value="21"></constructor-arg>-->
<!--        <constructor-arg name = "lid" ref="lap"></constructor-arg>-->


        <property name="age" value="21"></property>

<!--        You see here we have same name and ref, however spring should be smart enough to differ these two.-->
<!--        And whenever we comment this below line it shows error, why because it created the wire between the Laptop and the Alien through another bean given below and this property line(exactly next line). What if we need this wiring to be done automatically?-->
<!--        <property name="com" ref="com"></property>-->



    </bean>
<!--    Whenver we are using byName it will search the name "com" which is present in alien and which will our ID as well.-->

<!--    So whenever we use byType autowire, we can only use one of the type not both at the same time, and one thing to notice here is that we have use id different, which is not present anywhere but still it will work because we used byType.-->
<!--    Either Desktop or Laptop will work not both-->
    <bean id = "com1" class = "com.star.Laptop"> </bean>
    <bean id = "com2" class = "com.star.Desktop"> </bean>





</beans>

