<?xml version="1.0" encoding="UTF-8"?>
<!--        6. This is the defination of the bean tag <bean>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 1. YAY!! you made it!! WELCOME and learn more.-->


    <!-- 2. This is the place where we have to mention the bean. (beans are the objects that is managed by the springFramework in IOC container).-->

    <!--3. We have to tell our spring what object we want that means ID and of what class so we need the classname and the package of it-->
    <!--4. here is the ID is what is mention in main class.-->

    <!--5. Okay, so we can use the tag but we also need to use the tags that spring understands and for that we need the definations. And we can get that from browser. Just search spring bean configuration and we can get that from documentation xml-->

    <bean id = "thisIstheID" class = "com.star.Alien"> </bean>


    <bean id = "Lap" class = "com.star.Laptop"> </bean> <!--    You might be wondering where did thid ID "Lap" came from because we didn't mention, well it have nothing to do with ID, its just the package path we have mention (if you remove the ID it will still work), spring is now repsonsible for the laptop class and making the obj from it and because there is no obj or obj ref. in main class it is not yet created just conrsuctor running because ofcourse when visiting the file the constructor will run.-->


</beans>

